<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../assets/global2-doc.css" />
    <link rel="stylesheet" href="../assets/dashboard-new.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alike Angular:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material Icons:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Font Awesome 5 Free:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="dashboard-new">
      <div class="doctor-button-parent">
        <a href="./doctor-list">
          <button class="doctor-button" id="Doctor Button">
            <div class="divinfo-box-content">
              <div class="doctors-text">Doctors</div>
            </div>
            <img class="doctor-icon" alt="" src="./public/doctor-icon.svg" />
          </button>
        </a>
        <a href="./appointment-doc">
          <button class="appointment-button" id="Appointment Button">
            <div class="divinfo-box-content1">
              <div class="appointments-text">Appointments</div>
            </div>
            <div class="spaninfo-box-icon">
              <div class="person">person</div>
            </div>
          </button>
        </a>
        <a href="./patient_list">
          <button class="patients-button" id="Patient Button">
            <div class="divinfo-box-content2">
              <div class="doctors-text">Patients</div>
            </div>
            <div class="spaninfo-box-icon1">
              <div class="person">group</div>
            </div>
          </button>
        </a>
        <a href="./payment">
        <button class="earning-button" id="Earning">
          <div class="divinfo-box-content3">
            <div class="appointments-text">Total Earning</div>
          </div>
          <div class="money">
            <div class="person">monetization_on</div>
          </div>
        </button>
      </a>
      </div>
      <div class="divpage-header">
        <div class="divpage-header-inner">
          <div class="divpage-logo">
            <div class="link">
              <div class="redstar">PHARMA</div>
            </div>
          </div>
          <div class="list-item-link-svg"></div>
          <input
            class="form"
            type="text"
            placeholder="    Search"
            maxlength
            minlength
            id="search"
          />

          <button class="link1" id="search">
            <img class="vector-icon" alt="" src="./public/vector1.svg" />
          </button>
        </div>
      </div>
      <div class="drawer" data-animate-on-scroll>
        <div class="divsidemenu-container">
          <div class="divslimscrolldiv">
            <div class="divslimscrolldiv">
              <button class="item" id="profile">
                <img class="dpjpg-icon" alt="" src="../public/dpjpg@2x.png" />

                <div class="divsidebar-user-details">
                  <div class="divuser-name">
                    <div class="dr-kiran-patel"><%= username %></div>
                  </div>
                  <div class="administrator">Doctor</div>
                </div>
              </button>
              <a href="./doc-dashboard">
                <button class="item-link" id="dashboard">
                  <img class="svg-icon1" alt="" src="../public/svg.svg" />

                  <div class="dashboard">Dashboard</div>
                </button>
              </a>
              <a href="https://mail.google.com/mail/u/0/#inbox" target=”_blank”>
                <button class="item-link1" id="email">
                  <img class="svg-icon" alt="" src="../public/svg1.svg" />

                  <div class="email1">Email</div>
                </button>
              </a>
              <a href="./schedule">
                <button class="item-link2" id="Calender">
                  <img class="svg-icon" alt="" src="../public/svg2.svg" />

                  <div class="schedule">Schedule</div>
                </button>
              </a>
              <a href="./appointment-doc">
                <button class="item-link3" id="appointment">
                  <img class="svg-icon" alt="" src="../public/svg3.svg" />

                  <div class="appointment">Appointment</div>
                </button>
              </a>
              <a href="./doctor-list">
                <button class="item-link4" id="doctor">
                  <img class="svg-icon" alt="" src="../public/svg4.svg" />

                  <div class="doctors-list">Doctors List</div>
                </button>
              </a>
              <a href="./patient_list">
                <button class="item-link5" id="patients">
                  <img class="svg-icon" alt="" src="../public/svg5.svg" />

                  <div class="patients">Patients</div>
                </button>
              </a>
              <a href="./payment">
              <button class="item-link6" id="payment">
                <img class="svg-icon" alt="" src="../public/svg6.svg" />

                <div class="payments">Payments</div>
              </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer" data-animate-on-scroll>
        <div class="divpage-footer">
          <div class="divpage-footer-inner">
            <div class="pharmacy-management-system-container">
              <span class="pharmacy-management-system-container1">
                <span>2023 © Pharmacy Management System By </span>
                <span class="mist">MIST</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
