<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/login.css">
    <script src="https://kit.fontawesome.com/2437fb8d10.js" crossorigin="anonymous"></script>
    <title>login page</title>
</head>
<body>
    <div class="main">
        <div class="left">

        </div>
        <div class="right">
            <form action="/" method="POST">
                <h3>Login Form</h3>
                
                

                    <div class="upper">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="username" placeholder="    ID" class="textbox" id="id" required><br>
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="    Password" class="textbox" id="pass" required><br>
                    </div>
                    <div class="lower">
                        <input type="submit" value="Log in" class="btn">
                        <!-- <input type="button" value="Sign in" class="btn"><br> -->
                        <a href="./regi" class="bt">Sign in</a><br>
                        <a href="./forgot_pass">forget Password</a>
                        
    
                    </div>
                
            </form>
        </div>

    </div>
    <script>
        alert('Your ID is: <%= data %>');
    </script>

    
</body>
</html>