@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,200&family=Fira+Sans:wght@300&family=Inter&family=Merriweather&family=Open+Sans:ital,wght@1,500&display=swap');
*{
    margin-bottom: 18px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    align-items: center;

}

body {
    font-family: 'Inter', sans-serif;
    background-color: #e8effc;
    background-attachment: fixed;
}
img {
    width: 100%;
    height: 100%;
}
header {
    margin: 0px 0px 5px 89px;
    padding: 5px 10px;
    width: 90%;
    height: 100px;
    border: 2px solid rgb(31, 206, 127);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(31, 206, 127);
    color: #060410;
 

}

header .logo {
    color: #060410;
    font-size: 2.1em;
}
header .menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .menu ul li a{
    text-decoration: none;
    padding: 5px 10px;
    color: white;

}
header .menu ul li a:hover, 
.active,.btn:hover {
    margin: 0px 5px;
    background: #41e197;
    color: #060410;
    border-radius: 20%;
}
header .login button {
    margin: 0px 10px;
    padding: 5px;
    width: 75px;
    height: 30px;
    color: #060410;
    background: none;
    border: 2px solid #060410;

}

/* searchbar */
.search-bar {
    align-items: center;
    margin-left: 40%;

    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 300px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 5px;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;
  }
  
  .search-bar button[type="submit"] {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .search-bar button[type="submit"] i {
    color: #41e197;
  }

  /*  table */

  table {
    border-collapse: collapse;
    width: 50%;
    margin: 0px auto;
    border: 1px solid blue;
  }

  th, td {
    text-align: left;
    padding: 8px;
    height: 20px;
    border: 1px solid blue;
  }
  td button {
    width: 65px;
    height: 35px;
    background: teal;
    color: skyblue;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #ddd;
  }