@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.header-child {
  position: absolute;
  top: -38px;
  left: 1007px;
  width: 116px;
  height: 114px;
  object-fit: cover;
}
.header {
  position: absolute;
  top: 41px;
  left: 0;
  border-bottom: 5px solid var(--color-mediumspringgreen);
  box-sizing: border-box;
  width: 1123px;
  height: 123px;
}
.heading-51,
.section {
  position: absolute;
  top: 272px;
  left: 0;
  width: 976.55px;
  height: 561.16px;
}
.heading-51 {
  top: 23px;
  left: 24px;
  font-size: var(--font-size-lg);
  line-height: 19.8px;
  font-weight: 500;
  color: var(--color-slategray-400);
  display: flex;
  align-items: center;
  width: 119.25px;
  height: 21px;
}
.divd-flex-child,
.png {
  position: absolute;
  width: 100px;
}
.png {
  top: calc(50% - 50px);
  left: 0;
  border-radius: var(--br-7xs);
  height: 100px;
}
.divd-flex-child {
  top: -13.79px;
  left: 9px;
  height: 129px;
  object-fit: cover;
}
.divd-flex1,
.separator1 {
  position: absolute;
  top: 67.79px;
  left: 24px;
  width: 1080px;
  height: 100px;
}
.separator1 {
  top: 191.79px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1128px;
  height: 1px;
  overflow: hidden;
}
.divcard-child,
.id {
  position: absolute;
  top: 193px;
  left: 33px;
  background-color: var(--color-white);
  width: 1052px;
  height: 818px;
}
.id {
  border: 1px solid var(--color-black);
  height: 100%;
  width: 78.11%;
  top: 0;
  right: -28.11%;
  bottom: 0;
  left: 50%;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.name,
.salary {
  position: absolute;
  top: 245px;
  left: 53px;
  width: 338px;
  height: 66px;
}
.salary {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  height: 99.78%;
  width: 30.34%;
  top: 0;
  right: -13.45%;
  bottom: 0.22%;
  left: 83.1%;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.salary1 {
  position: absolute;
  top: 22px;
  left: 606px;
  line-height: 22.95px;
}
.email,
.phone {
  position: absolute;
  top: 373px;
  left: 53px;
  width: 870px;
  height: 66.15px;
}
.phone {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  height: 99.78%;
  width: 30.34%;
  top: 0;
  right: 50.23%;
  bottom: 0.22%;
  left: 19.43%;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.age1,
.contact-no {
  position: absolute;
  top: 22px;
  left: 0;
  line-height: 22.95px;
}
.age1 {
  top: 18px;
  left: 606px;
}
.contactno,
.password {
  position: absolute;
  top: 509px;
  left: 53px;
  width: 870px;
  height: 66.15px;
}
.password {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  height: 99.78%;
  width: 30.34%;
  top: 0;
  right: -13.91%;
  bottom: 0.22%;
  left: 83.56%;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.password1 {
  position: absolute;
  top: 22px;
  left: 605px;
  line-height: 22.95px;
}
.address1,
.dob {
  position: absolute;
  top: 644px;
  left: 53px;
  width: 870px;
  height: 66.15px;
}
.address1 {
  border: 1px solid var(--color-black);
  background-color: #fdfdfd;
  height: 100%;
  width: 82.29%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 17.71%;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.address {
  top: 795px;
  left: 53px;
  width: 988px;
  height: 122px;
}
.address,
.name1,
.name2 {
  position: absolute;
}
.name1 {
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  height: 6.53%;
  width: 23.18%;
  top: 24.23%;
  right: 8.6%;
  bottom: 69.24%;
  left: 68.22%;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.name2 {
  top: 267px;
  left: 651px;
  line-height: 22.95px;
}
.divcard1 {
  position: absolute;
  top: 55px;
  left: -29px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(67, 89, 113, 0.12);
  width: 1139px;
  height: 1011px;
}
.divcol-md-12 {
  width: calc(100% - 26px);
  top: 132px;
  right: 34px;
  left: -8px;
  height: 849px;
}
.account,
.divcol-md-12,
.icon {
  position: absolute;
}
.icon {
  top: 10.92px;
  left: 20px;
  width: 18.39px;
  height: 18px;
  overflow: hidden;
}
.account {
  top: 10px;
  left: 34px;
  line-height: 22.95px;
  display: flex;
  align-items: center;
  width: 75px;
  height: 17px;
}
.item-link {
  position: absolute;
  width: calc(100% - 1024px);
  top: 113px;
  right: 1037px;
  left: -13px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumspringgreen);
  box-shadow: 0 2px 4px rgba(105, 108, 255, 0.4);
  height: 39px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.account-information {
  position: absolute;
  top: 34px;
  left: -13px;
  font-size: var(--font-size-21xl);
  line-height: 22.95px;
  display: flex;
  align-items: center;
  width: 510px;
  height: 61px;
}
.divcontainer-xxl {
  position: absolute;
  top: -31px;
  left: calc(50% - 514.5px);
  width: 1143px;
  height: 1195px;
}
.link-themeselection,
.made-with {
  position: relative;
  line-height: 22.95px;
}
.link-themeselection {
  font-weight: 900;
}
.divmb-2 {
  display: flex;
  flex-direction: row;
  padding: 0 0 0.9400005340576172px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.67px;
}
.link-documentation,
.link-license,
.link-more,
.link-support {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 22.95px;
}
.link-documentation,
.link-more,
.link-support {
  left: 81.32px;
}
.link-documentation,
.link-support {
  left: 203.49px;
}
.link-support {
  left: 337.22px;
}
.div {
  position: relative;
  width: 417.91px;
  height: 22.94px;
}
.divcontainer-xxl1,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.divcontainer-xxl1 {
  padding: var(--padding-6xs) 25.999969482421875px 7.999998092651367px
    var(--padding-7xl);
  align-items: flex-end;
  gap: 413.42px;
}
.footer {
  position: absolute;
  top: 1263.75px;
  left: 0;
  background-color: var(--color-ghostwhite-100);
  align-items: flex-start;
  font-size: var(--font-size-mini);
  color: var(--color-slategray-300);
}
.divcontent-wrapper {
  position: absolute;
  width: calc(100% + 57px);
  top: -6px;
  right: -36px;
  left: -21px;
  height: 1352px;
}
.divcontent-wrapper-wrapper {
  position: absolute;
  top: 219px;
  left: 0;
  width: 1106px;
  height: 1158px;
  overflow: hidden;
}
.divinner {
  position: absolute;
  top: 8px;
  left: calc(50% - 420px);
  width: 1123px;
  height: 1178px;
}
.menu,
.menu1 {
  position: absolute;
  left: 0;
  width: 67px;
}
.menu1 {
  top: 1px;
  line-height: 27.5px;
  display: flex;
  align-items: center;
  height: 35px;
}
.menu {
  top: 0;
  border-bottom: 3px solid var(--color-mediumspringgreen);
  box-sizing: border-box;
  height: 36px;
}
.home,
.homepage,
.link-generic {
  position: absolute;
  width: 74px;
  height: 15px;
}
.homepage {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
}
.home,
.link-generic {
  top: 14.31px;
  left: 19px;
}
.link-generic {
  top: 21.28px;
  left: 18px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 84px;
}
.vector-icon {
  position: absolute;
  height: 35.69%;
  width: 5.5%;
  top: 50.63%;
  right: 94.5%;
  bottom: 13.68%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.employee-list,
.profile {
  position: absolute;
  cursor: pointer;
}
.profile {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 41.03px;
  left: 0;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.03px;
}
.employee-list {
  top: 17px;
  left: 22px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 134px;
  height: 15px;
}
.emplist,
.vector-icon1 {
  position: absolute;
  left: 0;
}
.vector-icon1 {
  height: 33.36%;
  width: 6.11%;
  top: 40%;
  right: 93.89%;
  bottom: 26.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.emplist {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 87.31px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 273px;
  height: 50px;
}
.link-etiam {
  position: absolute;
  top: 11px;
  left: 23px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 101.33px;
}
.vector-icon2 {
  position: absolute;
  height: 39.69%;
  width: 6.11%;
  top: 30.93%;
  right: 93.89%;
  bottom: 29.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.link-adipiscing,
.med {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.med {
  top: 184.31px;
  left: 0;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.03px;
}
.link-adipiscing {
  top: 13px;
  left: 20px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 127px;
  height: 15px;
}
.docinfo {
  position: absolute;
  top: 226.31px;
  left: 2px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.03px;
}
.get-in-touch {
  top: 1px;
  line-height: 27.5px;
  display: flex;
  align-items: center;
  width: 104.75px;
  height: 24px;
}
.get-in-touch,
.header-heading-2,
.p {
  position: absolute;
  left: 0;
}
.header-heading-2 {
  top: 0;
  border-bottom: 3px solid var(--color-mediumspringgreen);
  box-sizing: border-box;
  width: 118.3px;
  height: 39.64px;
}
.p {
  top: 113px;
  width: 273px;
  height: 72px;
}
.centralpharmagmailcom,
.if-you-have {
  position: absolute;
  line-height: 21.78px;
  display: flex;
  align-items: center;
}
.if-you-have {
  top: 44px;
  left: 4px;
  font-size: var(--font-size-sm-2);
  font-family: var(--font-open-sans);
  color: var(--color-gray-500);
  width: 268.58px;
  height: 105.12px;
}
.centralpharmagmailcom {
  top: 0;
  left: 0;
  width: 152.06px;
  height: 18px;
}
.link-child {
  position: absolute;
  top: -32.59px;
  left: 6.41px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.link {
  position: absolute;
  top: 1px;
  left: 39.59px;
  border-bottom: 1px dashed var(--color-gray-500);
  box-sizing: border-box;
  width: 151.86px;
  height: 19px;
}
.div1,
.item {
  position: absolute;
  top: 0;
  left: 0;
}
.div1 {
  font-size: var(--font-size-lgi-8);
  line-height: 22.27px;
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-mediumspringgreen);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.89px;
  height: 22.27px;
}
.item {
  width: 272.8px;
  height: 21.78px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-500);
  font-family: var(--font-open-sans);
}
.div2,
.div3 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div2 {
  top: 20.8px;
  left: 0;
  line-height: 22.27px;
  justify-content: center;
  width: 29.89px;
  height: 22.27px;
}
.div3 {
  top: 21.8px;
  left: 39.59px;
  font-size: var(--font-size-sm-2);
  line-height: 21.78px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-500);
  text-align: left;
  width: 91.06px;
  height: 18px;
}
.div4,
.item1 {
  position: absolute;
  left: 0;
}
.item1 {
  top: 41.58px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.58px;
}
.div4 {
  top: 20.79px;
  line-height: 22.27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.89px;
  height: 22.27px;
}
.satmashjeed-road {
  margin: 0;
}
.satmashjeed-road-dhaka-1517-container1 {
  line-break: anywhere;
  width: 100%;
}
.satmashjeed-road-dhaka-1517-container {
  position: absolute;
  top: 21.79px;
  left: 39.59px;
  font-size: var(--font-size-sm-2);
  line-height: 21.78px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-500);
  text-align: left;
  display: flex;
  align-items: center;
  width: 184.22px;
  height: 39.79px;
}
.item2 {
  top: 103.96px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 64.36px;
}
.item2,
.list1,
.section1 {
  position: absolute;
  left: 0;
}
.list1 {
  top: 211.59px;
  width: 272.8px;
  height: 168.31px;
  text-align: center;
  font-size: var(--font-size-lgi-8);
  color: var(--color-mediumspringgreen);
  font-family: var(--font-font-awesome-5-free);
}
.section1 {
  top: 346.31px;
  border-bottom: 2px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 273px;
  height: 398px;
}
.link-etiam1 {
  position: absolute;
  top: 13px;
  left: 24px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 101.33px;
  height: 15px;
}
.adddoc,
.vector-icon4 {
  position: absolute;
  left: 0;
}
.vector-icon4 {
  height: 39.69%;
  width: 6.11%;
  top: 40.45%;
  right: 93.89%;
  bottom: 19.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.adddoc {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 268.31px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.03px;
}
.link-etiam2 {
  position: absolute;
  top: 11px;
  left: 25px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 147px;
}
.addemp,
.vector-icon5 {
  position: absolute;
  left: 0;
}
.vector-icon5 {
  height: 39.69%;
  width: 6.11%;
  top: 33.31%;
  right: 93.89%;
  bottom: 27.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.addemp {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 142.31px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.03px;
}
.vector-icon6 {
  position: absolute;
  height: 3.53%;
  width: 6.11%;
  top: 2.61%;
  right: 93.15%;
  bottom: 93.86%;
  left: 0.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.list {
  top: 62.69px;
  left: 0;
  width: 272.8px;
  height: 472.06px;
}
.divinner1,
.list,
.nav {
  position: absolute;
}
.nav {
  top: -131px;
  left: 22px;
  border-bottom: 2px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 273px;
  height: 808px;
}
.divinner1 {
  top: 176px;
  left: 0;
  width: 295px;
  height: 664px;
}
.divsidebar,
.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
}
.drawer {
  background-color: var(--color-white);
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
}
.divcard-child1,
.divcard-child2,
.divcard-child3,
.divcard-inner,
.divcard-item,
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 254px;
  left: 517px;
  width: 53px;
  height: 49px;
}
.divcard-child1,
.divcard-child2,
.divcard-child3,
.divcard-inner,
.rectangle-button {
  top: 511px;
  left: 525px;
  width: 45px;
  height: 43px;
}
.divcard-child1,
.divcard-child2,
.divcard-child3,
.rectangle-button {
  top: 257px;
  left: 1059px;
}
.divcard-child1,
.divcard-child2,
.divcard-child3 {
  top: 374px;
}
.divcard-child2,
.divcard-child3 {
  top: 521px;
}
.divcard-child3 {
  top: 668px;
}
.email-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 12px;
  left: 470px;
  width: 45px;
  height: 43px;
}
.dob-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 12px;
  left: 473px;
  width: 45px;
  height: 43px;
}
.drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
.divsidebar {
  background-color: var(--color-whitesmoke-200);
  height: 1386px;
  font-size: 18.33px;
  color: var(--color-darkslategray);
  font-family: var(--font-roboto-slab);
}
.manager-profile {
  position: relative;
  width: 100%;
  height: 1386px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-public-sans);
}
