@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.header-item {
  position: absolute;
  top: -38px;
  left: 1007px;
  width: 116px;
  height: 114px;
  object-fit: cover;
}
.header1 {
  position: absolute;
  top: 41px;
  left: 0;
  border-bottom: 5px solid var(--color-mediumspringgreen);
  box-sizing: border-box;
  width: 1123px;
  height: 123px;
}
.heading-4,
.section2 {
  position: absolute;
  top: 272px;
  left: 0;
  width: 976.55px;
  height: 561.16px;
}
.heading-4 {
  top: 26px;
  left: 26px;
  width: 1128px;
  height: 56.19px;
}
.edit-profile {
  top: 41px;
  left: 8px;
  line-height: 24.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 274px;
  height: 66px;
}
.account,
.edit-profile,
.icon {
  position: absolute;
}
.icon {
  top: 10.92px;
  left: 20px;
  width: 18.39px;
  height: 18px;
  overflow: hidden;
}
.account {
  top: 11px;
  left: 38px;
  line-height: 22.95px;
  display: flex;
  align-items: center;
  width: 61.93px;
  height: 17px;
}
.item-link1 {
  position: absolute;
  width: calc(100% - 968px);
  top: -7px;
  right: 968px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumspringgreen);
  box-shadow: 0 2px 4px rgba(105, 108, 255, 0.4);
  height: 39px;
}
.heading-5,
.list2 {
  position: absolute;
  top: 0;
  left: 21px;
  width: 1097px;
  height: 39px;
}
.heading-5 {
  top: 23px;
  left: 24px;
  line-height: 19.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 119.25px;
  height: 21px;
}
.png-icon {
  position: absolute;
  top: calc(50% - 49.79px);
  left: 0;
  border-radius: var(--br-7xs);
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.divd-flex,
.separator {
  position: absolute;
  top: 67.79px;
  left: 24px;
  width: 1080px;
  height: 100px;
}
.separator {
  top: 191.79px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1128px;
  height: 1px;
  overflow: hidden;
}
.label-first {
  position: absolute;
  top: 2px;
  left: 13px;
  line-height: 18.36px;
  text-transform: uppercase;
  font-weight: 500;
}
.input {
  border: 1px solid var(--color-lightgray-100);
  background-color: var(--color-white);
  position: absolute;
  height: 57.1%;
  width: 73.78%;
  top: 42.77%;
  right: 23.87%;
  bottom: 0.13%;
  left: 2.35%;
  border-radius: var(--br-7xs);
  box-shadow: 0 0 4px 0.8px rgba(105, 108, 255, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}
.divmb-3-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 32.21px;
  left: 452px;
  width: 50px;
  height: 36px;
}
.divmb-3 {
  position: absolute;
  width: calc(100% - 553px);
  top: 0;
  right: 553px;
  left: 0;
  height: 68.3px;
}
.input1 {
  border: 1px solid var(--color-gainsboro);
  background-color: var(--color-white);
  position: absolute;
  height: 57.1%;
  width: 69.44%;
  top: 42.77%;
  right: 28.21%;
  bottom: 0.13%;
  left: 2.35%;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) 112px 6.999998092651367px var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
}
.divmb-3-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 30.21px;
  left: 447px;
  width: 50px;
  height: 36px;
}
.divmb-31 {
  position: absolute;
  width: calc(100% - 553px);
  top: 0;
  right: 0;
  left: 553px;
  height: 68.3px;
}
.input2 {
  border: 1px solid var(--color-gainsboro);
  background-color: var(--color-white);
  position: absolute;
  height: 57.1%;
  width: 73.78%;
  top: 42.33%;
  right: 23.87%;
  bottom: 0.57%;
  left: 2.35%;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
}
.divmb-3-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 29.91px;
  left: 452px;
  width: 50px;
  height: 36px;
}
.divmb-32 {
  position: absolute;
  width: calc(100% - 553px);
  top: 84.3px;
  right: 553px;
  left: 0;
  height: 68.3px;
}
.input3 {
  border: 1px solid var(--color-gainsboro);
  background-color: var(--color-white);
  position: absolute;
  height: 57.1%;
  width: 70.52%;
  top: 42.33%;
  right: 26.76%;
  bottom: 0.57%;
  left: 2.71%;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 31.91px;
  left: 449px;
  width: 50px;
  height: 36px;
}
.divmb-33 {
  position: absolute;
  width: calc(100% - 553px);
  top: 84.3px;
  right: 0;
  left: 553px;
  height: 68.3px;
}
.divmb-34 {
  position: absolute;
  width: calc(100% - 982px);
  top: 168.6px;
  right: 767.5px;
  left: 214.5px;
}
.label-phone {
  position: absolute;
  top: 175.21px;
  left: 14px;
  line-height: 18.36px;
  text-transform: uppercase;
  font-weight: 500;
}
.input4 {
  border: 1px solid var(--color-gainsboro);
  background-color: var(--color-white);
  position: absolute;
  height: 57.1%;
  width: 71.79%;
  top: 43.35%;
  right: 25.86%;
  bottom: -0.45%;
  left: 2.35%;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
}
.divmb-3-child1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 30.61px;
  left: 453px;
  width: 50px;
  height: 36px;
}
.divmb-35 {
  position: absolute;
  width: calc(100% - 553px);
  top: 167.21px;
  right: 0;
  left: 553px;
  height: 68.3px;
}
.input5 {
  border: 1px solid var(--color-gainsboro);
  background-color: var(--color-white);
  position: absolute;
  height: 58.57%;
  width: 72.69%;
  top: 42.93%;
  right: 24.95%;
  bottom: -1.49%;
  left: 2.35%;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
}
.divmb-3-child2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 30.32px;
  left: 454px;
  width: 50px;
  height: 36px;
}
.divmb-36 {
  position: absolute;
  width: calc(100% - 553px);
  top: 252.89px;
  right: 553px;
  left: 0;
  height: 68.3px;
}
.input6 {
  border: 1px solid var(--color-gainsboro);
  background-color: var(--color-white);
  position: absolute;
  height: 57.1%;
  width: 73.42%;
  top: 42.93%;
  right: 24.23%;
  bottom: -0.03%;
  left: 2.35%;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
}
.divmb-3-child3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 30.32px;
  left: 456px;
  width: 50px;
  height: 36px;
}
.divmb-37 {
  position: absolute;
  width: calc(100% - 553px);
  top: 252.89px;
  right: 0;
  left: 553px;
  height: 68.3px;
}
.options {
  border: 1px solid var(--color-gainsboro);
  background-color: var(--color-white);
  position: absolute;
  height: 58.57%;
  width: 71.97%;
  top: 42.49%;
  right: 25.68%;
  bottom: -1.05%;
  left: 2.35%;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
}
.divmb-3-child4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 30px;
  left: 455px;
  width: 50px;
  height: 36px;
}
.divmb-38 {
  position: absolute;
  width: calc(100% - 553px);
  top: 339.21px;
  right: 553px;
  left: 0;
  height: 68.3px;
}
.divrow-child {
  border: 1px solid var(--color-gainsboro);
  background-color: var(--color-white);
  position: absolute;
  top: 198.21px;
  left: 13px;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 408px;
  height: 40px;
}
.divrow-item {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 199.21px;
  left: 452px;
  width: 50px;
  height: 36px;
}
.divrow {
  position: relative;
  width: 1106px;
  height: 505.78px;
}
.save-changes {
  position: relative;
  line-height: 22.95px;
}
.button {
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumspringgreen);
  box-shadow: 0 2px 4px rgba(105, 108, 255, 0.4);
  border: 1px solid var(--color-mediumslateblue);
  padding: var(--padding-6xs) 20.05999755859375px 8.939998626708984px
    var(--padding-2xl);
}
.button,
.button1,
.divmt-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-lightslategray);
  padding: var(--padding-6xs) 20.330001831054688px 8.939998626708984px
    var(--padding-2xl);
  color: var(--color-lightslategray);
}
.divmt-2 {
  padding: 0 839.9500122070312px 0 0;
  gap: 11.66px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.divcard,
.form {
  position: absolute;
}
.form {
  top: 216.79px;
  left: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xs);
}
.divcard {
  top: 55px;
  left: -18px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 6px rgba(67, 89, 113, 0.12);
  width: 1128px;
  height: 793.52px;
  font-size: var(--font-size-lg);
  color: var(--color-slategray-400);
}
.divcol-md-12 {
  position: absolute;
  width: calc(100% - 26px);
  top: 132px;
  right: 34px;
  left: -8px;
  height: 849px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.divcontainer-xxl {
  position: absolute;
  top: -34px;
  left: calc(50% - 554px);
  width: 1144px;
  height: 983px;
}
.link-themeselection {
  position: relative;
  line-height: 22.95px;
  font-weight: 900;
}
.divmb-2 {
  display: flex;
  flex-direction: row;
  padding: 0 0 0.9400005340576172px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.67px;
}
.link-documentation,
.link-license,
.link-more,
.link-support {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 22.95px;
}
.link-documentation,
.link-more,
.link-support {
  left: 81.32px;
}
.link-documentation,
.link-support {
  left: 203.49px;
}
.link-support {
  left: 337.22px;
}
.div4 {
  position: relative;
  width: 417.91px;
  height: 22.94px;
}
.divcontainer-xxl1,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.divcontainer-xxl1 {
  padding: var(--padding-6xs) 25.999969482421875px 7.999998092651367px
    var(--padding-7xl);
  align-items: flex-end;
  gap: 413.42px;
}
.footer {
  position: absolute;
  top: 1263.75px;
  left: 0;
  background-color: var(--color-ghostwhite-100);
  align-items: flex-start;
  font-size: var(--font-size-mini);
  color: var(--color-slategray-300);
}
.divcontent-wrapper {
  position: absolute;
  width: calc(100% - 35px);
  top: -8px;
  right: 12px;
  left: 23px;
  height: 949px;
}
.divcontent-wrapper-wrapper {
  position: absolute;
  top: 211px;
  left: 0;
  width: 1123px;
  height: 941px;
  overflow: hidden;
}
.divinner3 {
  position: absolute;
  height: 100%;
  width: 77.99%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 22.01%;
}
.header-heading-22,
.menu1 {
  position: absolute;
  left: 0;
  width: 67px;
}
.menu1 {
  top: 1px;
  line-height: 27.5px;
  display: flex;
  align-items: center;
  height: 35px;
}
.header-heading-22 {
  top: 0;
  border-bottom: 3px solid var(--color-mediumspringgreen);
  box-sizing: border-box;
  height: 36px;
}
.item-link2,
.link-generic1 {
  position: absolute;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  height: 15px;
}
.item-link2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 14.31px;
  left: 19px;
  width: 74px;
}
.link-generic1 {
  top: 21.28px;
  left: 18px;
  width: 84px;
}
.vector-icon8 {
  position: absolute;
  height: 35.69%;
  width: 5.5%;
  top: 50.63%;
  right: 94.5%;
  bottom: 13.68%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.employee-list1,
.item9 {
  position: absolute;
  cursor: pointer;
}
.item9 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 41.03px;
  left: 0;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.03px;
}
.employee-list1 {
  top: 17px;
  left: 22px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 134px;
  height: 15px;
}
.item10,
.vector-icon9 {
  position: absolute;
  left: 0;
}
.vector-icon9 {
  height: 33.36%;
  width: 6.11%;
  top: 40%;
  right: 93.89%;
  bottom: 26.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.item10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 87.31px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 273px;
  height: 50px;
}
.link-etiam4 {
  position: absolute;
  top: 11px;
  left: 23px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 101.33px;
}
.vector-icon10 {
  position: absolute;
  height: 39.69%;
  width: 6.11%;
  top: 30.93%;
  right: 93.89%;
  bottom: 29.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.item11,
.link-adipiscing1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.item11 {
  top: 184.31px;
  left: 0;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.03px;
}
.link-adipiscing1 {
  top: 13px;
  left: 20px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 127px;
  height: 15px;
}
.item12 {
  position: absolute;
  top: 226.31px;
  left: 2px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.03px;
}
.get-in-touch1 {
  top: 1px;
  line-height: 27.5px;
  display: flex;
  align-items: center;
  width: 104.75px;
  height: 24px;
}
.get-in-touch1,
.header-heading-23,
.p1 {
  position: absolute;
  left: 0;
}
.header-heading-23 {
  top: 0;
  border-bottom: 3px solid var(--color-mediumspringgreen);
  box-sizing: border-box;
  width: 118.3px;
  height: 39.64px;
}
.p1 {
  top: 113px;
  width: 273px;
  height: 72px;
}
.centralpharmagmailcom1,
.if-you-have1 {
  position: absolute;
  line-height: 21.78px;
  display: flex;
  align-items: center;
}
.if-you-have1 {
  top: 44px;
  left: 4px;
  font-size: var(--font-size-sm-2);
  font-family: var(--font-open-sans);
  color: var(--color-gray-500);
  width: 268.58px;
  height: 105.12px;
}
.centralpharmagmailcom1 {
  top: 0;
  left: 0;
  width: 152.06px;
  height: 18px;
}
.link-item {
  position: absolute;
  top: -32.59px;
  left: 6.41px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.link1 {
  position: absolute;
  top: 1px;
  left: 39.59px;
  border-bottom: 1px dashed var(--color-gray-500);
  box-sizing: border-box;
  width: 151.86px;
  height: 19px;
}
.div5,
.item13 {
  position: absolute;
  top: 0;
  left: 0;
}
.div5 {
  font-size: var(--font-size-lgi-8);
  line-height: 22.27px;
  font-family: var(--font-font-awesome-5-free);
  color: var(--color-mediumspringgreen);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.89px;
  height: 22.27px;
}
.item13 {
  width: 272.8px;
  height: 21.78px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-500);
  font-family: var(--font-open-sans);
}
.div6,
.div7 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div6 {
  top: 20.8px;
  left: 0;
  line-height: 22.27px;
  justify-content: center;
  width: 29.89px;
  height: 22.27px;
}
.div7 {
  top: 21.8px;
  left: 39.59px;
  font-size: var(--font-size-sm-2);
  line-height: 21.78px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-500);
  text-align: left;
  width: 91.06px;
  height: 18px;
}
.div8,
.item14 {
  position: absolute;
  left: 0;
}
.item14 {
  top: 41.58px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.58px;
}
.div8 {
  top: 20.79px;
  line-height: 22.27px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.89px;
  height: 22.27px;
}
.satmashjeed-road1 {
  margin: 0;
}
.satmashjeed-road-dhaka-1517-container3 {
  line-break: anywhere;
  width: 100%;
}
.satmashjeed-road-dhaka-1517-container2 {
  position: absolute;
  top: 21.79px;
  left: 39.59px;
  font-size: var(--font-size-sm-2);
  line-height: 21.78px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-500);
  text-align: left;
  display: flex;
  align-items: center;
  width: 184.22px;
  height: 39.79px;
}
.item15 {
  top: 103.96px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 64.36px;
}
.item15,
.list4,
.section3 {
  position: absolute;
  left: 0;
}
.list4 {
  top: 211.59px;
  width: 272.8px;
  height: 168.31px;
  text-align: center;
  font-size: var(--font-size-lgi-8);
  color: var(--color-mediumspringgreen);
  font-family: var(--font-font-awesome-5-free);
}
.section3 {
  top: 346.31px;
  border-bottom: 2px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 273px;
  height: 395px;
}
.link-etiam5 {
  position: absolute;
  top: 13px;
  left: 24px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 101.33px;
  height: 15px;
}
.item16,
.vector-icon12 {
  position: absolute;
  left: 0;
}
.vector-icon12 {
  height: 39.69%;
  width: 6.11%;
  top: 40.45%;
  right: 93.89%;
  bottom: 19.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.item16 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 268.31px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.03px;
}
.link-etiam6 {
  position: absolute;
  top: 11px;
  left: 25px;
  font-size: 11.88px;
  letter-spacing: 0.99px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  color: var(--color-darkslategray);
  text-align: left;
  display: flex;
  align-items: center;
  width: 147px;
}
.item17,
.vector-icon13 {
  position: absolute;
  left: 0;
}
.vector-icon13 {
  height: 39.69%;
  width: 6.11%;
  top: 33.31%;
  right: 93.89%;
  bottom: 27.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.item17 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 142.31px;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 272.8px;
  height: 42.03px;
}
.vector-icon14 {
  position: absolute;
  height: 3.53%;
  width: 6.11%;
  top: 2.61%;
  right: 93.15%;
  bottom: 93.86%;
  left: 0.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.list3,
.nav1 {
  position: absolute;
  top: 62.69px;
  left: 0;
  width: 272.8px;
  height: 472.06px;
}
.nav1 {
  top: -131px;
  left: 22px;
  border-bottom: 2px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 273px;
  height: 806px;
}
.divinner4 {
  position: absolute;
  top: 176px;
  left: 0;
  width: 295px;
  height: 664px;
}
.divsidebar1,
.drawer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 317px;
}
.drawer1 {
  background-color: var(--color-white);
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
}
.drawer1.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
.divsidebar1 {
  background-color: var(--color-whitesmoke-200);
  height: 1152px;
  font-size: 18.33px;
  color: var(--color-darkslategray);
  font-family: var(--font-roboto-slab);
}
.manager-profile-settings {
  position: relative;
  width: 100%;
  height: 1152px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-public-sans);
}
